.App {
  text-align: center;
  color: white;
}
body {
  background-image: url("/src/andreas-fickl-o1xcUi-Yt_w-unsplash.jpg");
  background-size: 100%;
  background-repeat: repeat;
}
Header {
  font-size: 25px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline double;
  text-shadow: 0px 1px 17px rgba(240, 240, 238, 1);
}
